@charset "utf-8";
/* CSS Document */
p{
	color: #2A1060;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"; 
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 20px;
}
.paragraf_2 {color:#2A1060; background-color: rgba(255, 255, 255, 0.5)} .novi_blok {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	margin: 20px;
	width: 50%;
}
h1 {
	font-family: "EmaNovosel";
	color: #2A1060;
}
h2 {
	font-family: "aclonica";
	color: #2A1060
} 

span {color: rgb(255, 0, 255);}
.pozadina {
	background-image: url("../projektni zadatak 3/slike/pozadina.jpeg");
}
.drugapozadina {
	background-color: #6BA8B8;
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover {
	background-color: darkgray;
}
img {
	height: 300px
}